/* @import url(
  https://fonts.googleapis.com/css?family=Oswald:400,
  700&display=swap
);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script&display=swap);
! sanitize.css v6.0.0 | CC0 License | github.com/csstools/sanitize.css */
*,
:after,
:before {
  background-repeat: no-repeat;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
:after,
:before {
  text-decoration: inherit;
  vertical-align: inherit;
}
html {
  line-height: 1.15;
  cursor: default;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
main {
  display: block;
}
nav ol,
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
}
abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
::-moz-selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}
::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg {
  fill: currentColor;
}
svg:not(:root) {
  overflow: hidden;
}
table {
  border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
button {
  overflow: visible;
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
input {
  overflow: visible;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
select {
  text-transform: none;
}
textarea {
  overflow: auto;
  resize: vertical;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
dialog {
  display: block;
}
dialog {
  background-color: #fff;
  border: solid;
  color: #000;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}
dialog:not([open]) {
  display: none;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[tabindex],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
[hidden] {
  display: none;
}
[aria-busy="true"] {
  cursor: progress;
}
[aria-controls] {
  cursor: pointer;
}
[aria-disabled],
[disabled] {
  cursor: disabled;
}
[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute;
}
.slick-slider {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:after,
.slick-track:before {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
html {
  font-size: 16px;
}
body {
  font-family: Oswald, sans-serif;
}
::selection {
  background: #ebb47f;
}
* {
  box-sizing: border-box;
}
h1,
nav {
  padding: 0;
  margin: 0;
}
.advantages-animated,
.container_wrapper,
.menu-desktop,
.parallax-window {
  display: none;
}
.img-fluid {
  max-width: 100%;
  width: 100%;
}
.btn-up {
  display: none;
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 3.75rem;
  background-color: #cd7f32;
  text-indent: -9999px;
  z-index: 999;
}
.btn-up:hover {
  background-color: #91673d;
  opacity: 1;
  cursor: pointer;
}
.btn-up__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.5rem;
  margin-top: -0.75rem;
  height: 0;
  width: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}
.header-box__logo {
  width: 6.25rem;
  height: 1.875rem;
  background: url(../i/logo.png);
  background-size: cover;
}
.header-wrapper {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #fff;
}
.menu-button {
  display: inline-block;
  position: relative;
}
.menu-button_close {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.ico-menu_open {
  width: 3.125rem;
  height: 3.125rem;
}
.ico-menu_close {
  width: 2.5rem;
  height: 2.5rem;
}
.dark-overlay {
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
.dark-overlay.visible {
  opacity: 1;
  visibility: visible;
}
.mobile-menu {
  background-color: #fff;
  padding: 3.5rem 0 2rem;
  position: fixed;
  width: 15rem;
  top: 0;
  right: -100%;
  transition: right 0.3s;
  z-index: 99999;
  height: 100%;
  overflow: scroll;
}
.menu-mobile__link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 2rem;
}
.menu-mobile__item {
  margin: 1.875rem 1.25rem 0;
}
.mobile-menu.visible {
  right: 0;
}
.slider {
  width: 100%;
}
.slider__item {
  margin-top: 76px;
  background-size: cover;
  min-height: 300px;
  padding: 50px 30px;
  background-repeat: no-repeat;
}
.slider__item_1 {
  background-image: url(../i/img-slider-1-min.jpg);
}
.slider__item_2 {
  background-image: url(../i/img-slider-2-min.jpg);
}
.slider__item_3 {
  background-image: url(../i/img-slider-3-min.jpg);
}
.slider__item_4 {
  background-image: url(../i/img-slider-4-min.jpg);
}
.slider__item_5 {
  background-image: url(../i/img-slider-5-min.jpg);
}
.slogan-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.slogan-box__slogan {
  font-size: 0.8rem;
  text-align: center;
}
.slogan-box__title {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.slogan-box__img {
  width: 70px;
  height: 60px;
  margin-bottom: 10px;
  background: url(../i/logo-3.png) no-repeat;
  background-size: cover;
}
.advantages-section {
  background: url(../i/landing-background-min.jpg);
}
.advantages-box__title {
  color: #000;
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Dancing Script, cursive;
}
.advantages-box__content {
  padding: 0 10%;
  display: grid;
  grid-gap: 1.25rem;
  grid-template-columns: 1fr;
}
.advantages-content-item {
  display: grid;
  grid-template-columns: 3.125rem 1fr;
  grid-template-rows: 3.125rem 1fr;
  padding: 0.625rem;
}
.advantages-content-item__text {
  font-size: 1rem;
  padding: 0.625rem 0;
  grid-column: span 2;
  text-align: justify;
}
.advantages-content-item__title {
  font-size: 1.3rem;
  margin-left: 0.3125rem;
  align-self: center;
  text-transform: uppercase;
}
.advantages-content-item__ico {
  margin: 0.3125rem;
  width: 2.5rem;
  height: 2.5rem;
}
.menu-section {
  background: url(../i/landing-background-min.jpg);
  min-height: 80vh;
}
.menu-box {
  text-align: center;
  padding: 0 10% 0.5rem;
}
.menu-box__header {
  padding: 0.8rem 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-box__title {
  color: #000;
  padding: 1.5rem;
  font-size: 2rem;
  font-family: Dancing Script, cursive;
}
.menu-box__button {
  border: 0;
  text-transform: uppercase;
  padding: 0.625rem;
  margin: 0.625rem 0;
}
.menu-box__select {
  padding: 0.3125rem;
  border: 0.0625rem solid #000;
}
.coffee-item {
  display: flex;
  align-items: center;
  color: #000;
  max-width: 100%;
  margin-bottom: 0.625rem;
  font-size: 1rem;
}
.coffee-item__image {
  width: 3.75rem;
  height: 3.75rem;
  background-size: cover;
  background-repeat: no-repeat;
  border: 0.3125rem solid #fff;
  box-shadow: 0 0 0.3125rem #d3d3d3;
}
.coffee-item__title {
  margin-left: 0.625rem;
}
.coffee-item__underline {
  flex: 1;
  border-bottom: 0.0625rem solid #cd7f32;
  margin: 0 0.4375rem;
}
.pagination {
  display: flex;
  margin: 0 0 1.5rem;
}
.pagination__page {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.125rem;
  cursor: pointer;
}
.pagination__page.active {
  background: #cd7f32;
  color: #fff;
}
.coffee-img {
  object-fit: cover;
  height: 100%;
}
.gallery-box {
  width: 100%;
}
.gallery-box__title {
  color: #000;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-family: Dancing Script, cursive;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.3125rem;
  background: url(../i/landing-background-min.jpg);
}
.gallery-box__item {
  display: block;
}
.gallery-box__content {
  display: grid;
  grid-gap: 0.3125rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 9.375rem;
}
.img-gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reservation-section {
  padding: 0 2rem 1rem;
  font-size: 1.5rem;
  background: url(../i/landing-background-min.jpg);
}
.reserve-box__title {
  font-weight: 600;
  text-align: center;
  color: #000;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-family: Dancing Script, cursive;
}
.reserve-box__image {
  display: none;
}
.reserve-box__content {
  width: 100%;
}
.reserve-box__input {
  width: 100%;
  text-align: center;
}
.reserve-separator {
  display: none;
}
.reserve-box-data {
  width: 50%;
}
.reserve-box-data__item {
  height: 100%;
  width: 100%;
  padding: 0.3125rem;
}
.reserve-box-data__item_person {
  margin-bottom: 1.875rem;
}
.input {
  padding: 10px;
  width: 100%;
}
.label {
  display: block;
}
.input-response {
  color: #cd7f32;
  margin: 0.3125rem 0 0.625rem;
  min-height: 1.125rem;
  font-size: 1rem;
}
.input-response_submit {
  font-size: 1.5rem;
}
.btn {
  cursor: pointer;
  outline: none;
  padding: 0.625rem;
  border: none;
  background: #cd7f32;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}
.btn:hover {
  background: #91673d;
}
.btn:disabled {
  background: grey;
  cursor: default;
}
input[type="date"]::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}
.contacts-address__text {
  font-size: 0.7rem;
}
.blog-section {
  padding: 1rem;
  font-size: 1.5rem;
  background: url(../i/landing-background-min.jpg);
}
.nav {
  font-size: 1rem;
}
.nav__item {
  margin-left: 0.3125rem;
  padding: 0.625rem 0.9375rem;
  border: none;
  background: #cd7f32;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.nav__item:hover {
  background: #91673d;
}
.blog-box {
  width: 100%;
}
.blog-box__title {
  font-weight: 600;
  text-align: center;
  color: #000;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-family: Dancing Script, cursive;
}
.blog-box__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}
.blog-box__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 0.2s;
  margin: 0 auto;
}
.blog-box__banner {
  width: 100%;
  padding: 2rem;
  min-height: 100px;
  background: url(../i/blog-banner-3.jpg);
  background-size: cover;
  background-position: 50%;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 5px #d3d3d3;
}
.article {
  padding: 5px;
  width: 50%;
}
.article__content {
  position: relative;
}
.article__img {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
}
.article__text {
  width: 100%;
  padding: 10px 0;
  background: hsla(0, 0%, 100%, 0.6);
  color: #000;
  text-align: center;
  position: absolute;
  font-size: 1rem;
}
.article__text_title {
  top: 0;
}
.article__text_date {
  bottom: 0;
  font-weight: 600;
  font-size: 1rem;
}
.banner-timer {
  font-size: 1.5rem;
  text-align: center;
}
.banner-timer__title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}
.contacts-section {
  background: url(../i/home-3-parallax-1.jpg) no-repeat;
  background-size: cover;
  color: #fff;
}
.contacts-section__title {
  color: #fff;
  padding: 1.5rem;
  font-size: 2.5rem;
  font-family: Dancing Script, cursive;
  font-weight: 600;
  text-align: center;
}
.contacts-section__map {
  height: 18.75rem;
  width: 100%;
  background-image: url(../i/map.png);
  background-size: cover;
}
.contacts-section__footer {
  padding: 1rem 0;
  width: 100%;
}
.contact-box {
  width: 80%;
  margin: auto;
  background-size: cover;
  display: flex;
}
.contact-box__container {
  width: 50%;
  padding: 1rem 0 2rem;
}
.contact-box__container:not(:first-of-type) {
  margin-left: 1.25rem;
}
.contact-box-title {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0.625rem;
}
.contacts-day {
  margin-bottom: 0.3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-day__underline {
  flex: 1;
  border-bottom: 0.0625rem solid grey;
  margin: 0 0.3125rem;
}
.contacts-day__hour {
  font-size: 0.8rem;
  color: grey;
}
.contacts-address {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.625rem;
  font-size: 1rem;
}
.contacts-address__ico {
  margin-right: 0.625rem;
}
.contacts-address:hover .contacts-address__ico {
  transform: scale(1.2);
}
.contacts-address__link {
  color: #fff;
  text-decoration: none;
}
.contacts-links {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.contacts-links__ico:hover {
  transform: scale(1.2);
}
.ico {
  width: 1.875rem;
  height: 1.875rem;
  transition: transform 0.5s ease;
}
@media (min-width: 576px) {
  .contacts-address__text {
    font-size: 1rem;
  }
  .header-box__logo {
    width: 8.4375rem;
    height: 2.5rem;
  }
  .mobile-menu {
    width: 20rem;
  }
  .slider {
    width: 100%;
  }
  .slider__item {
    margin-top: 76px;
    background-size: cover;
    min-height: 400px;
    padding: 50px 50px 0;
  }
  .slogan-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  .slogan-box__slogan {
    font-size: 1rem;
    text-align: center;
  }
  .slogan-box__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  .slogan-box__img {
    width: 70px;
    height: 60px;
    margin-bottom: 10px;
    background: url(../i/logo-3.png) no-repeat;
    background-size: cover;
  }
  .advantages-box__content {
    grid-gap: 1.875rem;
  }
  .menu-box__title {
    font-size: 2.5rem;
  }
  .menu-box__select {
    margin-left: 0.625rem;
  }
  .coffee-item {
    font-size: 1.2rem;
  }
  .gallery-box__content {
    grid-gap: 0.3125rem;
    grid-auto-rows: 12.5rem;
  }
  .reserve-box__input_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
  }
  .reserve-separator {
    display: block;
    font-size: 1.5rem;
  }
  .reserve-box-data {
    height: 3rem;
    width: 25%;
  }
  .reserve-box-data__item {
    height: 100%;
    width: 100%;
    padding-left: 0.625rem;
  }
  .reserve-box-data__item_person {
    margin-bottom: 0;
  }
  .btn {
    width: 40%;
  }
  .nav {
    font-size: 1.5rem;
  }
}
@media (min-width: 758px) {
  .contacts-address__text {
    font-size: 1rem;
  }
  body {
    padding: 0;
  }
  .advantages-animated {
    display: block;
  }
  .slider__item {
    min-height: 600px;
    padding: 200px 100px 0;
  }
  .slogan-box__title {
    font-size: 2.5rem;
  }
  .slogan-box__slogan {
    font-size: 1.3rem;
  }
  .advantages-section {
    background: #fff;
  }
  .advantages-box {
    position: relative;
    overflow: hidden;
  }
  .advantages-box__content {
    max-width: 100%;
    grid-gap: 1.875rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 15% 2rem;
  }
  .advantages-animated {
    position: absolute;
    z-index: 2;
  }
  .advantages-animated_cup {
    width: 10.9375rem;
    height: 7.5rem;
    left: -100%;
    top: -2.5rem;
    background: url(../i/landing-img-1.png) no-repeat;
    background-size: cover;
  }
  .advantages-animated_spoon {
    width: 2.1875rem;
    height: 5.3125rem;
    top: 16.875rem;
    left: -100%;
    background: url(../i/landing-img-2.png) no-repeat;
    background-size: cover;
  }
  .advantages-animated_croissant {
    width: 7.5rem;
    height: 7.8125rem;
    top: 0;
    right: -100%;
    background: url(../i/landing-img-4.png) no-repeat;
    background-size: cover;
  }
  .advantages-animated_cake {
    width: 4.0625rem;
    height: 4.375rem;
    top: 0;
    right: -100%;
    background: url(../i/landing-img-5.png) no-repeat;
    background-size: cover;
  }
  .advantages-animated_cup.animate {
    animation: cup 2s forwards;
  }
  .advantages-animated_spoon.animate {
    animation: spoon 2s forwards;
  }
  .advantages-animated_croissant.animate {
    animation: croissant 2s forwards;
  }
  .advantages-animated_cake.animate {
    animation: cake 2s forwards;
  }
  @keyframes cup {
    0% {
      transform: rotate(1turn);
      left: -100%;
      top: -2.5rem;
    }
    50% {
      top: -2.5rem;
    }
    to {
      transform: rotate(0deg);
      left: -0.625rem;
      top: 7.5rem;
    }
  }
  @keyframes spoon {
    0% {
      transform: rotate(180deg);
      left: -100%;
      top: 16.875rem;
    }
    50% {
      top: 16.875rem;
    }
    to {
      transform: rotate(-45deg);
      left: 4.375rem;
      top: 15rem;
    }
  }
  @keyframes croissant {
    0% {
      transform: rotate(1turn);
      right: -100%;
      top: 0;
    }
    50% {
      top: 0;
    }
    to {
      transform: rotate(0deg);
      right: 0.625rem;
      top: 20.625rem;
    }
  }
  @keyframes cake {
    0% {
      transform: rotate(1turn);
      right: -100%;
      top: 0;
    }
    50% {
      top: 0;
    }
    to {
      transform: rotate(0deg);
      right: 1.25rem;
      top: 14.375rem;
    }
  }
  .menu-box__header {
    padding: 1rem 0 0;
    display: flex;
  }
  .menu-box__title {
    padding: 1rem;
    font-size: 2.2rem;
  }
  .reservation-section {
    padding: 0 0 2rem 2rem;
    font-size: 1.5rem;
  }
  .reserve-box {
    position: relative;
    overflow: hidden;
  }
  .reserve-box__title {
    padding: 2rem;
    font-size: 2.2rem;
  }
  .reserve-box__image {
    display: block;
    position: absolute;
  }
  .reserve-box__image_1 {
    background: url(../i/landing-2-img-7.png) no-repeat;
    background-size: cover;
    height: 14.6875rem;
    width: 11.5625rem;
    right: 0.3125rem;
  }
  .reserve-box__image_2 {
    background: url(../i/landing-2-img-3.png) no-repeat;
    background-size: cover;
    height: 8rem;
    width: 5.375rem;
    bottom: 1.25rem;
    right: 0;
  }
  .reserve-box__image_3,
  .reserve-box__image_4 {
    display: none;
  }
  .reserve-box__content {
    width: 70%;
    position: relative;
  }
  .contacts-section__map {
    height: 25rem;
  }
  .contact-box {
    width: 70%;
  }
  .contact-box__container:not(:first-of-type) {
    margin-left: 2.5rem;
  }
}
@media (min-width: 993px) {
  .menu-desktop {
    display: flex;
  }
  .menu-button {
    display: none;
  }
  .slider-wrapper {
    display: block;
  }
  .container_wrapper {
    margin: auto;
    max-width: 1920px;
    display: block;
    position: relative;
    height: 2.5rem;
    background: #fff;
  }
  .wrapper {
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
  .wrapper_first {
    bottom: 1.625rem;
  }
  .wrapper_second {
    bottom: -1.875rem;
  }
  .wrapper_third {
    bottom: 1.875rem;
  }
  .parallax-window {
    display: block;
    min-height: 18.75rem;
    max-width: 119.375rem;
    margin: auto;
    text-align: center;
    padding: 6.25rem 0;
    background-image: url(../i/img-coffee-min.jpg);
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax-window img {
    width: 11.25rem;
  }
  .dark-overlay,
  .mobile-menu {
    display: none;
  }
  .menu-desktop__link {
    text-shadow: 0 0 0.3125rem #000;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 1.5rem;
    color: #fff;
    margin-bottom: 0;
    position: relative;
  }
  .menu-desktop__link:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 0;
    height: 0.125rem;
    background-color: #fff;
    transition: width 0.3s ease-out;
  }
  .menu-desktop__link:focus:after,
  .menu-desktop__link:hover:after {
    width: 100%;
  }
  .menu-desktop__link.active {
    text-decoration: underline;
  }
  .menu-desktop__link.active:after {
    height: 0;
  }
  .header-wrapper {
    background: transparent;
  }
  .header-box {
    position: fixed;
    width: 100%;
    z-index: 999999;
    transition: background 0.3s ease-in;
  }
  .header-box__logo {
    width: 7.5rem;
    height: 2.1875rem;
    background: url(../i/logo-2.png);
    background-size: cover;
    transition: transform 0.3s ease;
    margin-left: 0.625rem;
  }
  .header-box__logo:hover {
    transform: scale(1.05);
  }
  .slider__item {
    min-height: 100vh;
    padding: 100px 100px 0;
    position: relative;
    margin: 0;
  }
  .slogan-box__title {
    font-size: 3.5rem;
    text-shadow: 0 0 5px #000;
  }
  .slogan-box__img {
    width: 165px;
    height: 135px;
  }
  .slogan-box__slogan {
    font-size: 1.5rem;
  }
  .slick-dots {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  .slick-dots li {
    border-radius: 100%;
    background: #fff;
    margin-right: 15px;
    border: 1px solid #fff;
  }
  .slick-dots button {
    background: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8px;
    height: 8px;
    font-size: 0;
  }
  .slick-dots button:focus {
    outline: none;
  }
  .slick-dots .slick-active {
    transform: scale(1.35);
  }
  .advantages-box__content {
    position: relative;
    min-height: 80vh;
    grid-gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 1.875rem;
    padding: 0 15%;
    background: #fff;
    font-weight: 100;
  }
  .advantages-box__title {
    text-transform: none;
    padding: 1.5rem 1.5rem 3rem;
    font-size: 3rem;
  }
  .advantages-content-item__ico {
    transition: transform 0.5s ease-in;
  }
  .advantages-content-item:hover .advantages-content-item__ico {
    transform: scale(1.1);
  }
  .advantages-animated_cup {
    width: 10.3125rem;
    height: 10rem;
  }
  .advantages-animated_spoon {
    width: 1.875rem;
    height: 5rem;
  }
  .advantages-animated_croissant {
    width: 9.0625rem;
    height: 9.375rem;
  }
  .advantages-animated_cake {
    width: 4.6875rem;
    height: 4.6875rem;
  }
  .menu-section {
    background: url(../i/home-1-parallax-2-min.jpg);
    color: #fff;
  }
  .menu-box {
    padding: 1rem 10% 4.5rem;
  }
  .menu-box__title {
    color: #fff;
    text-transform: none;
    text-shadow: 0 0 0.3125rem #000;
    padding: 1.5rem;
    font-size: 3rem;
  }
  .menu-box__button {
    border: 0;
    text-transform: uppercase;
    padding: 0.625rem;
    margin: 0.625rem 0;
  }
  .menu-box__content {
    max-width: none;
    margin: 0;
    display: grid;
    grid-gap: 1.25rem 2.5rem;
    grid-template-columns: 1fr 1fr;
  }
  .menu-box__select {
    margin-left: 1.25rem;
  }
  .coffee-item {
    color: #fff;
  }
  .coffee-item__title {
    margin-left: 0.625rem;
  }
  .hint {
    position: absolute;
    padding: 0.625rem 1.25rem;
    border: 1px solid #d3d3d3;
    border-radius: 0.25rem;
    text-align: center;
    font-family: Oswald, sans-serif;
    font-size: 1rem;
    color: #000;
    background: #fff;
    box-shadow: 0.1875rem 0.1875rem 0.1875rem rgba(0, 0, 0, 0.3);
    z-index: 999;
  }
  .gallery-box__item {
    overflow: hidden;
    position: relative;
  }
  .gallery-box__item:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
  }
  .gallery-box__item:hover:after {
    opacity: 1;
  }
  .gallery-box__content {
    grid-gap: 0;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 15.625rem;
    padding: 0.5rem 0;
    background: #cd7f32;
  }
  .gallery-box__title {
    background: #fff;
    font-size: 3rem;
  }
  .gallery-box__item_2,
  .gallery-box__item_4 {
    grid-row: span 2;
  }
  .gallery-box__item_8 {
    grid-column: span 2;
  }
  .reservation-section {
    background: #fff;
  }
  .reserve-box__title {
    font-size: 3rem;
    padding: 2.5rem;
  }
  .reserve-box__image_1 {
    height: 17.1875rem;
    width: 13.75rem;
    right: 0.75rem;
  }
  .reserve-box__image_2 {
    height: 8.9375rem;
    width: 6.5rem;
    bottom: 1.25rem;
  }
  .reserve-box__image_3 {
    display: block;
    position: absolute;
    background: url(../i/landing-2-img-6.png);
    background-size: cover;
    right: 0.375rem;
    height: 14.875rem;
    width: 17.875rem;
    top: 1.5rem;
  }
  .reserve-box__content {
    position: relative;
    width: 60%;
  }
  .reserve-box__input_data {
    margin-bottom: 3.125rem;
  }
  .input-response {
    margin: 0.625rem 0;
  }
  .btn {
    padding: 0.9375rem;
    width: 30%;
  }
  .article {
    width: 33.3%;
  }
  .blog-section {
    min-height: 100vh;
    background: #fff;
  }
  .blog-box__title {
    font-size: 3rem;
  }
  .contact-box {
    width: 60%;
  }
  .contact-box__container {
    padding-bottom: 2.5rem;
  }
  .contact-box__container:not(:first-of-type) {
    margin-left: 3.125rem;
  }
  .contacts-links {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .contacts-address__text {
    font-size: 1rem;
  }
  .menu-box__content_opened {
    display: none;
  }
  .parallax-window img {
    width: 13.75rem;
  }
  .slider {
    max-width: 1920px;
    margin: auto;
  }
  .slider__item {
    padding: 150px 150px 0;
  }
  .slogan-box__title {
    font-size: 2.5rem;
    text-shadow: 0 0 5px #000;
  }
  .slogan-box__img {
    width: 165px;
    height: 135px;
  }
  .slogan-box__slogan {
    font-size: 1.5rem;
  }
  .advantages-section {
    max-width: 1920px;
    margin: auto;
  }
  .advantages-box__content {
    grid-gap: 1.5625rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1.875rem;
    padding: 0 18%;
  }
  .advantages-animated_cup {
    width: 18.4375rem;
    height: 13.75rem;
  }
  .advantages-animated_spoon {
    width: 4.6875rem;
    height: 10.3125rem;
    left: -4.6875rem;
  }
  .advantages-animated_croissant {
    width: 14.6875rem;
    height: 12.8125rem;
    right: -14.6875rem;
  }
  .advantages-animated_cake {
    width: 5.3125rem;
    height: 5.3125rem;
    right: -5.3125rem;
  }
  .menu-section {
    max-width: 1920px;
    margin: auto;
    min-height: 90vh;
  }
  .menu-box {
    padding: 0 10% 2rem;
    margin: auto;
  }
  .menu-box__header {
    padding: 2rem 0 0;
  }
  .coffee-item {
    font-size: 1.3rem;
  }
  .coffee-item__image {
    width: 6.25rem;
    height: 6.25rem;
  }
  .header-box {
    padding: 1rem;
    max-width: 1920px;
    margin: auto;
  }
  .gallery-section {
    max-height: 42.5rem;
    height: 42.5rem;
    max-width: 1920px;
    margin: auto;
  }
  .gallery-box__content {
    grid-template-columns: repeat(6, 1fr);
  }
  .gallery-box__title {
    background: #fff;
    font-size: 3rem;
    margin: 0;
    padding: 2rem 0;
  }
  .gallery-box__item_2,
  .gallery-box__item_4 {
    grid-row: span 2;
  }
  .gallery-box__item_8 {
    grid-column: 3;
  }
  .gallery-box__item_9 {
    grid-column: span 2;
  }
  .reservation-section {
    max-width: 1920px;
    margin: auto;
    padding: 0;
    font-size: 1rem;
  }
  .reserve-box {
    padding-bottom: 2rem;
  }
  .reserve-box__image_1 {
    eight: 16.6875rem;
    width: 12.875rem;
    right: 0.625rem;
    top: 10.75rem;
  }
  .reserve-box__image_2 {
    height: 8.9375rem;
    width: 6.5rem;
    bottom: 0.875rem;
    right: -1.5625rem;
  }
  .reserve-box__image_3 {
    right: 4.125rem;
    height: 16.75rem;
    width: 20.625rem;
    top: 1.875rem;
    left: 1.25rem;
  }
  .reserve-box__image_4 {
    display: block;
    position: absolute;
    background: url(../i/open-table-img-1.png);
    background-size: cover;
    right: 1.125rem;
    height: 14.875rem;
    width: 23.75rem;
    top: 0;
  }
  .reserve-box__content {
    width: 50%;
    margin: 2rem auto auto;
  }
  .reserve-box__input_data {
    margin-bottom: 50px;
  }
  .input-response {
    min-height: 1.75rem;
    margin: 0.5rem 0 0.75rem;
  }
  .input-response_submit {
    margin-top: 0.625rem;
  }
  .article {
    max-width: 1920px;
    margin: auto;
    width: 25%;
    overflow: hidden;
  }
  .article__img {
    max-height: 28.125rem;
  }
  .blog-section {
    min-height: 100vh;
    background: #fff;
  }
  .banner-timer {
    font-size: 2rem;
  }
  .banner-timer__title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  .blog-box__banner {
    padding: 2rem;
    min-height: 200px;
    margin-bottom: 1.5rem;
  }
  .contacts-section {
    max-width: 1920px;
    margin: auto;
  }
  .contact-box {
    width: 50%;
  }
  .contact-box__container {
    padding: 2rem 0 3.5rem;
  }
  .contact-box__container:not(:first-of-type) {
    margin-left: 3.75rem;
  }
  .contact-box-title {
    margin-bottom: 1.875rem;
    font-size: 1.5rem;
  }
  .contacts-day {
    font-size: 1.2rem;
  }
  .contacts-day__hour {
    font-size: 1rem;
  }
  .contacts-address {
    font-size: 1.2rem;
    margin-left: 2.5rem;
    margin-bottom: 1.25rem;
  }
  .contacts-links {
    width: 20%;
  }
}
